<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- Define a simple bean -->
    <bean id="car" class="org.example.Car">
    <property name="make" value="Toyota"/>
        <property name="model" value="Camry"/>
    </bean>
    <bean id="engine" class="org.example.Engine"/>

<!--    &lt;!&ndash; Define a bean with a dependency &ndash;&gt;-->
<!--    <bean id="anotherBean" class="com.example.AnotherBean">-->
<!--        <property name="myBean" ref="myBean"/>-->
<!--    </bean>-->


    </beans>