* {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin-left: 7%;
  margin-right: 7%;
  background-color: rgba(192, 192, 192, 0.1);
}

h1 {
  font-size: 2em;
}

h1#headline {
  font-size: 4em;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  color: #505355;
  border-bottom: solid 1px black;
}

h2 {
  font-size: 1.8em;
  line-height: 1.45em;
}

h3 {
  font-size: 1em;
  color: #00ADEE;
}

header img {
  height: 25px;
}

.student-gray {
  color: #505355;
}

.italic-text {
  font-style: italic;
}

#student-picture img {
  border-radius: 50%;
}

/* Define grid containers */
#main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 50px;
  grid-template-areas:
    "headline headline headline"
    "student-picture student-quote student-quote"
    "student-profile student-profile student-contact"
    "experience-code experience-database experience-database"
    "experience-web experience-web experience-design";
  align-items: center;
}

#experience-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px 50px;
  grid-template-areas:
    "experience-code experience-database"
    "experience-web experience-design";
}

/* Define grid areas for direct descendant elements */
#headline { grid-area: headline; }
#student-picture { grid-area: student-picture; }
#student-quote { grid-area: student-quote; }
#student-profile { grid-area: student-profile; }
#student-contact { grid-area: student-contact; }
#experience-code { grid-area: experience-code; }
#experience-database { grid-area: experience-database; }
#experience-web { grid-area: experience-web; }
#experience-design { grid-area: experience-design; }

/* Desktop layout adjustments */
#student-picture,
#student-contact {
  text-align: center;
}

/* Tablet layout adjustments */
@media screen and (max-width: 1024px) {
  #main-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "headline headline"
      "student-picture student-quote"
      "student-profile student-contact"
      "experience-code experience-database"
      "experience-web experience-design";
    grid-gap: 20px 35px;
  }

  #experience-grid {
    grid-template-areas:
      "experience-code experience-database"
      "experience-web experience-design";
    grid-gap: 20px 20px;
  }
}

/* Phone layout adjustments */
@media screen and (max-width: 450px) {
  #main-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "headline"
      "student-picture"
      "student-quote"
      "student-profile"
      "student-contact"
      "experience-code"
      "experience-database"
      "experience-web"
      "experience-design";
    grid-gap: 20px 20px;
  }

  #experience-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "experience-code"
      "experience-database"
      "experience-web"
      "experience-design";
    grid-gap: 20px 20px;
  }
}
